.heading {
    font-size: 34px;
    font-style: italic;
    margin-bottom: 10px;
}

li {
    font-size: 16px;
    transition: font-size 0.3s;
}

li:hover {
    cursor: pointer;
    color: #0e6655;
    font-size: 17px;
}

.container {
    transition: transform 0.3s;
}

.container:hover {
    transform: translateY(-10px);
}