#level1, #level2, #level3 {
    border: 2px solid black;
    padding: 20px;
    margin: 10px;
    text-align: center;
}

#level1 {
    background-color: #f8b400;
}

#level2 {
    background-color: #4caf50;
}

#level3 {
    background-color: #2196f3;
    color: white;
}
