body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #0d3654;
    padding: 20px;
    text-align: center;
    color: white;
}

nav {
    background-color: #215982bb;
    text-align: center;
    padding: 10px 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

section {
    max-width: 900px;
    margin: auto;
}

section h1 {
    font-size: 1.9rem;
    text-align: center;
    font-weight: bold;
    color: #215982bb;
    margin-bottom: 1rem;
}
section h2 {
    font-size: 1.4rem;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    
}
section p {
    font-size: 1rem;
    margin-bottom: 1rem;
    text-align: justify;
    line-height: 1.6;
}

main {
    padding: 20px;
}

footer {
    background-color: #215982bb;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}