body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.card {
  background-color: #fff;
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.card span {
  display: block;
  font-size: 1.4em;
  font-weight: bold;
}

.title {
  color: #0077b6;
  font-size: 1.1em;
  margin-top: 4px;
}

.bio {
  font-size: 0.95em;
  color: #555;
  margin-bottom: 15px;
}

.skills span {
  display: inline-block;
  background-color: #e0f7fa;
  color: #0077b6;
  padding: 5px 15px;
  margin: 5px;
  border-radius: 12px;
  font-size: 0.8em;
  transition: transform 0.3s ease;
}

.skills span:hover {
  background-color: #e0f7fa;
  transform: scale(1.08);
}

.skills {
  margin-bottom: 10px;
}

.links a {
  text-decoration: none;
  color: #0077b6;
  margin: 0 5px;
  font-size: 0.9em;
}

.contact-bttn {
  margin-top: 15px;
  padding: 8px 16px;
  background-color: #0077b6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 120px;
  transition: transform 0.4s, background-color 0.4s;
}

.contact-bttn:hover {
  background-color: #005f86;
  transform: scale(1.05);
}
